<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <!--<link rel="stylesheet" href="/css/index.css" />-->
    <link rel="stylesheet" href="/css/bottle.css">
</head>
<body>
    <div id="bottle_id_div" style="display: none;" bottle_id="<%= bottle_id %>" ></div>
    <div id="page-content" class="col-12" >
        <%- include('../partials/navigation.ejs') %>
        <div style="width: 100%; min-height: 100vh; display: flex; flex-direction: row; flex-wrap: wrap;" >
            <div class="col-12 col-lg-6" id="LeftPanel">
                <h1 class="offset-lg-3" style="font-size: 4em; font-weight: bold;"><%= distillery %></h1>
                <% if ( ( age == null || age == undefined ) || age.toLowerCase() != "n/a" ) { %>
                    <h2 class="offset-lg-3"><%= vintage %></h2>
                <% } else { %> 
                    <h2 class="offset-lg-3"><%= age %> Year Old</h2> 
                <% } %> 
                <img class="col-6 offset-lg-3" style="margin-bottom: 20px;" src="<%= image_url %>" >
                <% if ( vintage != null && vintage != undefined ){ if ( vintage.toLowerCase() != "n/a" ) { %><p class="offset-lg-3">Vintage: <%= vintage %></p><% } } %> 
                <% if ( region != null && region != undefined ){ if ( region.toLowerCase() != "n/a" ) { %> <p class="offset-lg-3">Region: <%= region %></p><% } } %> 
                <% if ( bottler != null && bottler != undefined ){ if ( bottler.toLowerCase() != "n/a" ) { %><p class="offset-lg-3">Bottler: <%= bottler %></p><% } } %> 
                <% if ( cask_type != null && cask_type != undefined ){ if ( cask_type.toLowerCase() != "n/a" ) { %> <p class="offset-lg-3">Cask Type: <%= cask_type %></p> <% } } %> 
                <% if ( bottled_strength != null && bottled_strength != undefined ){ if ( bottled_strength.toLowerCase() != "n/a" ) { %><p class="offset-lg-3">Bottled Strength: <%= bottled_strength %></p><% } } %> 
                <% if ( bottle_size != null && bottle_size != undefined ){ if ( bottle_size.toLowerCase() != "n/a" ) { %><p class="offset-lg-3">Bottle Size: <%= bottle_size %></p><% } } %> 
                <% if ( distillery_status != null && distillery_status != undefined ){ if ( distillery_status.toLowerCase() != "n/a" ) { %><p class="offset-lg-3">Distillery Status: <%= distillery_status %></p><% } } %> 
            </div>
            <div id="RightPane" class="col-12 col-lg-6">
                <h1>Price History</h1>
                <div id="ChartContainer">
                    <canvas id="OverlayChart"></canvas>
                    <canvas id="DashboardChart"></canvas>
                </div>
               

                <h1 style="margin-top: 20px;">Add To Your Cellar</h1>

                <div style="margin-top: 50px;" class="col-10 offset-1 col-lg-6 offset-lg-3">
                    <div class="input-group" style="margin-top: 20px; height: 50px;">
                        <button onmouseup="ChangeBottleAmount(-1);" class="btn btn-primary col-1 input-group-text">-</button>
                        <input id="bottle_quantity" class="form-control" type="text"
                            placeholder="Quantity" value="" />
                        
                        <button onmouseup="ChangeBottleAmount(1);" class="btn btn-primary col-1 input-group-text">+</button>
                    </div>

                    <div id="bottle-add-forms" >

                    </div>

                </div>
                

                <!--<input type="number" style="margin-top: 20px; height: 50px;" class="col-6 offset-3" />-->
                <button onclick="AddBottleToCellar();" style="margin-top: 20px; height: 50px; margin-bottom: 20px;" class="col-6 offset-3 btn btn-primary" >Add To Cellar</button>
                <div id="messagebox" class="col-8 offset-2" style="display: none; justify-content: center; align-items: center; margin-top: 10px; height: 50px; background-color: #B74601; border-radius: 5px;" >
                    <p id="messageboxtext" style="color: white; margin: auto;" >Bottle Added To Cellar Successfully!</p>
                </div>
            </div>
        </div>
       
    </div>
    <%- include('../partials/footer.ejs') %>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js" ></script>
    <script type="text/javascript" src="/js/bottle_info.js" ></script>
</body>
</html>